* {
  box-sizing: border-box;
  height: 0;
  width: 0;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.conatiner {
  border: 3px solid rgb(141, 136, 136);
  border-radius: 20px;
  height: 100px;
  width: 300px;
  overflow: hidden;
  perspective: 100px;
  box-shadow: inset 0 0 40px 20px black;
}

.conatiner::after {
  content: ' ';
  position: absolute;
  background-color: rgb(107, 109, 109);
  height: 30px;
  width: 1000px;
  transform: translateY(-20px) translateX(-10px) rotateX(30deg);
  z-index: -1;
  box-shadow: 0 0 50px 1px, inset 0 0 10px 2px rgb(160, 155, 155);
}

.conatiner::before {
  content: ' ';
  position: absolute;
  background-color: rgb(185, 235, 232);
  height: 100px;
  width: 1000px;
  transform: translateY(0px) translateX(-10px);
  z-index: -2;
}

.dog {
  background-image: url('picart/pngfind.com-pug-life-png-3516508-removebg-preview.png');
  height: 93px;
  width: 100px;
  border-radius: 20px;
  transition: 2s;
  animation: dog 1s infinite steps(4);
}

.food {
  position: absolute;
  transform: translateX(240px) translateY(-30px);
  height: 30px;
  width: 30px;
}

.loading {
  position: relative;
  transform: translateX(80px);
  color: white;
}

@keyframes dog {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 400px;
  }
}
